* {
	margin: 0;
}
div.row {
	/*width: 216px; заменить параметр для другого размера поля*/
	height: auto;
	display: flex;
	background-color: black;
	margin: 0 auto;
}

div.cell {
	width: 24px;
	height: 24px;
	background-color: #A5A5A5;
	border-top:2px solid rgba(255, 255, 255, 0.5);
	border-left:2px solid rgba(255, 255, 255, 0.5);
	border-right:2px solid rgba(0, 0, 0, 0.5);
	border-bottom:2px solid gray;
	box-sizing: border-box;
	margin: 1px;
	color: white;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	font-weight: bold;
}
div.cell.mine {
	/*background-color: red;*/
	font-size:0;
}
div.closed {
	font-size:0;
}
div.opened {
	font-size: 18px;
	border: 2px solid gray;
	background-color: gray;
}
div.mine.opened {
	font-size: 0;
}
input {
	display: block;
}
header {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
body {
	background-color: gray;
}